{% extends 'base.html' %}

{% block title %}In Cleaner. Тиндер{% endblock %}

{% block content %}
{% if user.is_worker %}
{% for order in orders%}
    <div class="max-w-sm bg-white rounded overflow-hidden shadow-lg mb-2">
        <div class="px-6 py-4">
            <div class="font-bold text-xl text-black mb-2">Заказ {{order.id}} 
			</div>
			{{order.specialty}}

            <p class="text-white text-base">
                юзер - {{ order.user.username }}
            </p>
            <p class="text-gray-700 text-base">
                {{ order.price }} тг.
            </p>
            <p class="text-gray-700 text-base">
                адрес - {{ order.address }}
            </p>
            <p class="text-gray-700 text-base">
                телефон - {{ order.phone }}
            </p>
            <p class="text-gray-700 text-base">
                {{ order.description }}
            </p>
        </div>
        <div class="">
            <a href="{% url 'assign-order' order.id %}"><span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Принять заказ</span></a>
        </div>
        <div class="px-6 pt-4 pb-2">
            <a href="{% url 'delete-order' order.id %}"><span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Отказаться</span></a>
        </div>
{% endfor %}
{% else %}


<div class="container">
	<div class="carousel">
	  <div class="slides">
		<div class="slide active">
		  <img src="https://placehold.co/600x400/eee/333/?text=Slide 1" alt="">
		</div>
		{% for worker in workers %}
		<div class="slide">
			<h1 class="">{{worker.username}}</h1>
			<h1>{{worker.profile.bio}}</h1>

			<p>{{worker.specialty.name}}</p>
			<img class="h-full" src="{{ worker.profile.photo.url }}" alt="User Photo">
			<div><a class="btn btn-sm like mr-52 mt-4" href="{% url 'assign-tinder-order' worker.id %}">Выбрать этого работника</a>
			</div>
		</div>
		{% endfor %}
	
	</div>

		




  <!--Slider-->
<div id="slider">  
    {% for worker in workers %}
	<div class="slide">
	<h1 class="">{{worker.username}}</h1>
	<h1>{{worker.profile.bio}}</h1>

	<p>{{worker.specialty.name}}</p>
	<img class="h-full" src="{{ worker.profile.photo.url }}" alt="User Photo">
	<div><a class="btn btn-sm like mr-52 mt-4" href="{% url 'assign-tinder-order' worker.id %}">Выбрать этого работника</a>
	</div>
	</div>
	{% endfor %}
</div>
	
	
	<!--Controlling arrows-->
	<span class="controls" onclick="prevSlide(-1)" id="left-arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i>
  </span>
	<span class="controls" id="right-arrow" onclick="nextSlide(1)"><i class="fa fa-arrow-right" aria-hidden="true"></i>
  </span>
  </div>
	<div id="dots-con">
   <span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span>
   </div>
  
{% endif %}


<style>
	body{
  background:#e6e6e6;
}
#slider{
  width:80%;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
}

.slide{
  width:100%;
  
  display:none;
  animation-name:fade;
  animation-duration:1s;
  
}
img{
 width:100%; 
}
@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}

.controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  
}

.controls:hover{
  background:white;
  transition:0.3s;
}

.controls:active{
  color:grey;
}

#left-arrow{
  left:10px;
}

#right-arrow{
  right:10px;
}

#dots-con{
  
  text-align:center;
}
.dot{
  display:inline-block;
  background:grey;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
}

.active{
  background:crimson;
}

@media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
}
</style>
<script>
	var slides = document.querySelectorAll(".slide");
var dots = document.querySelectorAll(".dot");
var index = 0;


function prevSlide(n){
  index+=n;
  console.log("prevSlide is called");
  changeSlide();
}

function nextSlide(n){
  index+=n;
  changeSlide();
}

changeSlide();

function changeSlide(){
    
  if(index>slides.length-1)
    index=0;
  
  if(index<0)
    index=slides.length-1;
  
  
  
    for(let i=0;i<slides.length;i++){
      slides[i].style.display = "none";
      
      dots[i].classList.remove("active");
      
      
    }
    
    slides[index].style.display = "block";
    dots[index].classList.add("active");

  

}



</script>
{% endblock content %}